<ion-header style="z-index:0;">

  <ion-toolbar>

    <ion-button slot="end">
      <ion-item>
        <ion-label>
          <ion-icon name="bluetooth"></ion-icon>
          <ion-toggle (ionChange)="toggleBle($event)" [(ngModel)]="ble"></ion-toggle>
        </ion-label>
      </ion-item>
    </ion-button>

  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>

    <ion-row>
      <ion-col></ion-col>

      <ion-col> 
        <ion-button *ngIf="scanText==''" (click)="startScanning()" style="width:100%;">
          <ion-icon name="refresh-circle">
          </ion-icon> Scan
          <ion-col></ion-col>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="text-align: center;">
        {{scanText}}
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-list>
    <ion-item *ngFor="let d of devices; let i = index;">
      <b style="color: black;">{{d.localName}}</b>
      <ion-button (click)="connect(d,i)" *ngIf="!d.connection" slot="end">Connect</ion-button>
      <ion-button (click)="disconnect(d,i)" *ngIf="d.connection" slot="end">Disconnect</ion-button>
    </ion-item>
  </ion-list>

  <!--<app-explore-container name="Tab 2 page"></app-explore-container>-->
</ion-content>
